{% extends "partials/base.html" %}
{% block content %}
{% load static %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Danyog</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>Organisation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>All Categories</h4>
                            <ul>
                            <li><a href="{% url 'listitem:category_products' 'Books' %}">Books</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Clothes' %}">Clothes</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Furniture' %}">Furniture</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Food' %}">Food</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Toys' %}">Toys</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Utensils' %}">Utensils</a></li>
                            <li><a href="{% url 'listitem:category_products' 'Daily Necessities' %}">Daily Necessities</a></li>
                            </ul>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>New Arrivals</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for item in new_items %}
                                <div class="col-lg-10">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg" data-setbg="{{ item.image.url }}">
                                            <div class="product__discount__percent">New</div> <!-- "New" tag -->
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="{% url 'add_to_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span>{{ item.category.name }}</span>
                                            <h5><a href="{% url 'shop_detail' item.id %}">{{ item.name }}</a></h5>
                                            <div class="product__item__price">{{ item.quantity }} in stock</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <section class="featured spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-title">
                                        <h2>Featured Products</h2>
                                    </div>
                    
                                    <!-- Search Form inside the Featured Section -->
                                    <form method="GET" class="mb-4">
                                        <div class="input-group">
                                            <select name="category" class="form-control">
                                                <option value="">All category</option>
                                                <option value="Books" {% if search_query == 'Books' %}selected{% endif %}>Books</option>
                                                <option value="Clothes" {% if search_query == 'Clothes' %}selected{% endif %}>Clothes</option>
                                                <option value="Furniture" {% if search_query == 'Furniture' %}selected{% endif %}>Furniture</option>
                                                <option value="Food" {% if search_query == 'Food' %}selected{% endif %}>Food</option>
                                                <option value="Toys" {% if search_query == 'Toys' %}selected{% endif %}>Toys</option>
                                                <option value="Utensils" {% if search_query == 'Utensils' %}selected{% endif %}>Utensils</option>
                                                <option value="Daily Necessities" {% if search_query == 'Daily Necessities' %}selected{% endif %}>Daily Necessities</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-success">Search</button> <!-- Green search button -->
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End of Search Form -->
                                </div>
                            </div>
                    
                            <div class="row featured__filter">
                                <!-- Display filtered or all items here -->
                                {% for item in all_items %}
                                <div class="col-lg-3 col-md-4 col-sm-6 mix">
                                    <div class="featured__item">
                                        <div class="featured__item__pic set-bg" data-setbg="{{ item.image.url }}">
                                            <ul class="featured__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <li><a href="{% url 'add_to_cart' item.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="featured__item__text">
                                            <h6><a href="{% url 'shop_detail' item.id %}">{{ item.name }}</a></h6>
                                            <p>Category: {{ item.category.name }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No products found for this category.</p>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    
    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

{% endblock %}